<div ng-controller="ContainersList">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <a class="navbar-brand">Search ({{(containers | filter:containerQuery).length}})</a>
    </div>
    <div class="collapsible navbar-collapse">
      <form class="navbar-form navbar-left" role="Search">
        <input type="text" class="form-control" ng-model="containerQuery" size="55" placeholder="busybox:latest" />
      </form>
      <ul class="nav navbar-nav">
        <li><a href="/containers?all=1">Show all containers</a></li>
      </ul>
    </div>
  </nav>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Status</th>
        <th>Container Id</th>
        <th>Image</th>
        <th>Command</th>
        <th>Created</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cont in containers | filter: containerQuery">
        <td><status-icon></status-icon></td>
        <td title="SizeRw = {{cont.SizeRw}}; SizeRootFs = {{cont.SizeRootFs}}"><a href="/container/{{cont.Id}}">{{cont.Id.substring(0,12)}}</a></td>
        <td>{{cont.Image}}</td>
        <td title="{{cont.Command}}">{{cont.Command | shortShellCommand}}</td>
        <td>{{cont.Created * 1000| date:'medium'}}</td>
        <td align="right">
          <form>
            <button 
              class="btn btn-xs btn-warning" 
              title="Restart"
              ng-show="cont.IsRunning">
              <span class="glyphicon glyphicon-repeat"></span>
            </button>
            <button 
              class="btn btn-xs btn-warning" 
              title="Kill"
              ng-show="cont.IsRunning">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button 
              class="btn btn-xs btn-primary" 
              title="Export">
              <span class="glyphicon glyphicon-export"></span>
            </button>
            <button 
              class="btn btn-xs btn-danger" 
              title="Remove">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script type="html/template" id="container-state">
<center><button class="btn btn-default btn-xs">
  <span 
    class="glyphicon" 
    title="{{cont.Status}}; Click to {{cont.IsRunning && 'Stop' || 'Start'}}" 
    ng-class="{'glyphicon-cog dr-container-running rotating': cont.IsRunning, 'glyphicon-off dr-container-stopped':!cont.IsRunning}">
  </span>
</button></center>
</script>
<script>
var DATA=<%- JSON.stringify(data) %>;
</script>
