<div ng-controller="ImagesList" class="ImagesList">
  <nav class="navbar navbar-default navbar-static-top" id="dr-static-navbar">
    <div class="navbar-header">
      <a class="navbar-brand">Search ({{(images | filter:imageQuery).length}})</a>
    </div>
    <div class="collapsible navbar-collapse">
      <form class="navbar-form navbar-left" role="search">
        <input type="text" class="form-control" ng-model="imageQuery" size="55" placeholder="ubuntu:12.04" />
      </form>
      <form class="navbar-form navbar-left" role="Create Image">
        <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create</button>
      </form>
    </div>
  </nav>
  <div class="bs-callout bs-callout-info" ng-repeat="img in images | filter:imageQuery | orderBy:'Id'">
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-8">
        <h4><a href="/image/{{img.Id}}">{{img.RepoTags[0]}}</a></h4>
        <div class="small">Created on {{img.Created * 1000 | date:'medium'}} </div>
        <div class="small">ID = {{img.Id.substring(0,TDSIZE)}}</div>
        <div class="small statusmessage"></div>
      </div>
      <div class="options dr-right">
        <form>
          <input type="hidden" name="imageid" value="{{img.Id}}"/>
          <button class="btn btn-default" title="Quick spawn a new container with this image">
            <span class="glyphicon" ng-class="{'glyphicon-repeat rotating':img.initloading,'glyphicon-flash':!img.initloading}"></span>
          </button>
          <button ng-class="{'dr-btn-expand':img.rmmessage.length!==0}" class="btn btn-danger dr-btn" ng-click="deleteImage(img)" title="Remove image" ng-disabled="img.rmloading">
            <span>{{img.rmmessage}}</span>
            <span class="glyphicon" ng-show="img.rmmessage.length===0" ng-class="{'glyphicon-repeat rotating':img.rmloading,'glyphicon-remove':!img.rmloading}"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
var DATA=<%- JSON.stringify(data) %>;
</script>
