<nav class="navbar" role="sidebar">
  <ul class="nav">
    <li><img src="/img/homepage-docker-logo.png" alt="Docker" width="110" /></li>
    <li><!-- Dummy -->&nbsp;</li>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/containers">Containers</a></li>
    <li><a href="/images">Images</a></li>
  </ul>
</nav>
